* {
	font-family: "IBM Plex Mono";
}

html, body{
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: 500;
	font-size: 30px;
	margin: 0 0 16px 0;
}

a {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

p{
	color: #979797;
	margin: 0 0 16px 0;
	font-size: 24px;
}

section{
	padding: 64px 128px;
}

.btn{
	background-color: #ffc108;
	color: white;
	padding: 8px 24px;
}

.btn-alt{
	background-color: white;
	color: black;
	margin-right: 16px;
	border: 2px solid #ffc108;
}

#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 128px;
}

#header h1{
	margin: 0;
}

#landing{
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
}

#landing p{
	margin-bottom: 32px;
}

#landing > div {
	width: 50%;
}

#about{
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
}

#about > div {
	width: 50%;
}



#about p{
	margin-left: 30px;
}

.service_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service_detail{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 128px;
	margin-top: 73px;
}

.service_detail_item{
	box-shadow: 4px 4px 4px gray;
}


.service_detail_item img{
	width: 100%;
}

.service_detail_item h2{
	padding: 0 16px;
}

.service_detail_item p{
	font-size: 16px;
	padding: 0 16px;
}

.contact_detail{
	display: flex;
	justify-content: space-between;
	margin-top: 73px;
	column-gap: 32px;
}

form{
	display: flex;
	flex-direction: column;
	border: 3px solid #ffc108;
	padding: 64px 24px;
}

form h1{
	font-size: 32px;
	text-align: center;
}

form button{
	border: none;
}

.form_grup{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 32px;
	margin-top: 32px;
	grid-template-areas: 	"name subjek"
							"email number"
							"message message";
}

#input_name{
	grid-area: name;
}

#input_subjek{
	grid-area: subjek;
}

#input_number{
	grid-area: number;
}

#input_message{
	grid-area: message;
}
.input_grup{
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
}

.input_grup label{
	font-weight: 700;
	margin-bottom: 16px;
	font-size: 20px;
}

.input_grup input {
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	font-size: 20px;
}

footer{
	padding: 16px 32px;
	background-color: #ffc108;
	color: white;
	display: flex;
	justify-content: space-between;	
}

footer p{
	color: white;
	width: 50%;
}

.social{
	color white;
	width: 32px;
}

nav > a{
	margin-left: 12px;
}